<footer class="mkdf-page-footer ">
  <div class="mkdf-footer-top-holder">
  <div class="mkdf-footer-top-inner mkdf-grid">
  <div class="mkdf-grid-row mkdf-footer-top-alignment-left mkdf-grid-huge-gutter">
  <div class="mkdf-column-content mkdf-grid-col-4">
  <div id="text-2" class="widget mkdf-footer-column-1 widget_text"><div class="mkdf-widget-title-holder"><h4 class="mkdf-widget-title">This is Nysa Interiors</h4></div> <div class="textwidget"><p style="color: #c3c3c3; margin-bottom: -21px;">Create your brand new architecture or interior design with Nysa Interiors Today !!!</p>
  </div>
  </div><div class="widget mkdf-separator-widget"><div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
  <div class="mkdf-separator" style="border-style: solid;margin-top: 8px"></div>
  </div>
  </div><div id="text-5" class="widget mkdf-footer-column-1 widget_text"> <div class="textwidget"><div><div class="mkdf-iwt clearfix   mkdf-iwt-icon-left mkdf-iwt-icon-medium">
  <div class="mkdf-iwt-icon">
  <a itemprop="url" href="https://goo.gl/maps/N5MzWwNe9oT2" target="_blank" rel="noopener">
  <img width="22" height="22" src="wp-content/uploads/2019/03/vcard-icon-1.png" class="attachment-full size-full" alt="d" loading="lazy" /> </a>
  </div>
  <div class="mkdf-iwt-content">
  <p class="mkdf-iwt-title">
  <a itemprop="url" href="https://goo.gl/maps/N5MzWwNe9oT2" target="_blank" rel="noopener">
  <span class="mkdf-iwt-title-text">HIG-102,First Floor,
    Near D'Mart, Vth Phase, KPHB Colony, Hyderabad, Telangana - 500085</span>
  </a>
  </p>
  </div>
  </div><div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-full-width">
  <div class="mkdf-separator" style="border-color: rgba(255, 255, 255, 0);border-style: solid;border-bottom-width: 1px;margin-top: 11px;margin-bottom: 0px"></div>
  </div>
  <div class="mkdf-iwt clearfix   mkdf-iwt-icon-left mkdf-iwt-icon-medium">
  <div class="mkdf-iwt-icon">
  <a itemprop="url" href="https://dor.qodeinteractive.com/cdn-cgi/l/email-protection#f99d968bb988969d9c90978d9c8b989a8d908f9cd79a9694" target="_blank" rel="noopener">
  <img width="19" height="19" src="wp-content/uploads/2019/03/vcard-icon-2.png" class="attachment-full size-full" alt="d" loading="lazy" /> </a>
  </div>
  <div class="mkdf-iwt-content">
  <p class="mkdf-iwt-title" style="padding: 3px">
  <a itemprop="url" href="https://dor.qodeinteractive.com/cdn-cgi/l/email-protection#0662697446776962636f687263746765726f70632865696b" target="_blank" rel="noopener">
  <span class="mkdf-iwt-title-text"><span class="__cf_email__" data-cfemail="6d09021f2d1c020908040319081f0c0e19041b08430e0200">[email&#160;protected]</span></span>
  </a>
  </p>
  </div>
  </div></div>
  </div>
  </div><div class="widget mkdf-separator-widget"><div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
  <div class="mkdf-separator" style="border-style: solid;margin-top: 18px"></div>
  </div>
  </div> <div class="widget mkdf-contact-form-7-widget ">
  <div role="form" class="wpcf7" id="wpcf7-f10-o1" lang="en-US" dir="ltr">
  <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
  <form action="https://dor.qodeinteractive.com/elementor/#wpcf7-f10-o1" method="post" class="wpcf7-form init cf7_custom_style_3" novalidate="novalidate" data-status="init">
  <div style="display: none;">
  <input type="hidden" name="_wpcf7" value="10" />
  <input type="hidden" name="_wpcf7_version" value="5.6.3" />
  <input type="hidden" name="_wpcf7_locale" value="en_US" />
  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f10-o1" />
  <input type="hidden" name="_wpcf7_container_post" value="0" />
  <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
  </div>
  <div class="mkdf-cf-custom-style mkdf-cf-custom-dark-style">
  <div><span class="wpcf7-form-control-wrap" data-name="your-email">
    
    <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail address" />
  
  </span><button type="submit" class="arrow_carrot-right mkdf-btn mkdf-btn-simple mkdf-btn-subscribe"></button></div>
  </div>
  <div class="wpcf7-response-output" aria-hidden="true"></div></form></div> </div>
  </div>
  <div class="mkdf-column-content mkdf-grid-col-4">
  <div id="mkdf_twitter_widget-2" class="widget mkdf-footer-column-2 widget_mkdf_twitter_widget"><div class="mkdf-widget-title-holder"><h4 class="mkdf-widget-title">Twitter Feed</h4></div> <ul class="mkdf-twitter-widget mkdf-twitter-standard">
  <li class="mkdf-tweet-holder">
  <!-- <div class="mkdf-twitter-icon"><i class="social_twitter"></i></div> -->
  <div class="mkdf-tweet-text" style="padding:0 !important;">
  <a href="/">Home</a><br/>

 </div>
  </li>
  <li class="mkdf-tweet-holder">
  <!-- <div class="mkdf-twitter-icon"><i class="social_twitter"></i></div> -->
  <div class="mkdf-tweet-text" style="padding:0 !important;">
    <a href="/about">About</a>  </li>
  <li class="mkdf-tweet-holder">
  <!-- <div class="mkdf-twitter-icon"><i class="social_twitter"></i></div> -->
  <div class="mkdf-tweet-text" style="padding:0 !important;">
    <a href="/projects">Projects</a>  </li>
  <li class="mkdf-tweet-holder">
  <!-- <div class="mkdf-twitter-icon"><i class="social_twitter"></i></div> -->
  <div class="mkdf-tweet-text" style="padding:0 !important;">
    <a href="/contact">Contact</a>  </li>
  </ul>
  </div><div class="widget mkdf-separator-widget"><div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
  <div class="mkdf-separator" style="border-style: solid;margin-top: 0px;margin-bottom: 0px"></div>
  </div>
  </div> </div>
  <div class="mkdf-column-content mkdf-grid-col-4">
  <div id="mkdf_instagram_widget-7" class="widget mkdf-footer-column-3 widget_mkdf_instagram_widget"><div class="mkdf-widget-title-holder"><h4 class="mkdf-widget-title">Instagram feed</h4></div> <ul class="mkdf-instagram-feed clearfix mkdf-col-3 mkdf-instagram-gallery mkdf-tiny-space">

    <div class="mkdf-grid-col-4">
      <div class="widget mkdf-social-icons-group-widget "> <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://www.facebook.com/qode.themes.9?ref=bookmarks" target="_blank">
      <span class="mkdf-social-icon-widget social_facebook"></span> </a>
      <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://www.pinterest.com/qodethemes/" target="_blank">
      <span class="mkdf-social-icon-widget social_pinterest"></span> </a>
      <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://dribbble.com/QodeThemes" target="_blank">
      <span class="mkdf-social-icon-widget social_dribbble"></span> </a>
      </div> </div>
 
  </ul>
  </div> </div>
  </div>
  </div>
  </div><div class="mkdf-footer-bottom-holder">
  <div class="mkdf-footer-bottom-inner mkdf-grid">
  <div class="mkdf-grid-row ">
  <div class="mkdf-grid-col-4">
  <div id="media_image-3" class="widget mkdf-footer-bottom-column-1 widget_media_image"><a href="index.html"><img width="62" height="24" src="wp-content/uploads/2019/03/footer-logo.png" class="image wp-image-2035  attachment-full size-full" alt="d" loading="lazy" style="max-width: 100%; height: auto;" /></a></div> </div>
  <div class="mkdf-grid-col-4">
  <div id="text-6" class="widget mkdf-footer-bottom-column-2 widget_text"> <div class="textwidget"><p><a href="https://qodeinteractive.com/" target="_blank" rel="nofollow noopener">© 2019 Nysa Interiors, All Rights Reserved</a></p>
  </div>
  </div> </div>
  <div class="mkdf-grid-col-4">
  <div class="widget mkdf-social-icons-group-widget "> <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://www.facebook.com/qode.themes.9?ref=bookmarks" target="_blank">
  <span class="mkdf-social-icon-widget social_facebook"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://www.pinterest.com/qodethemes/" target="_blank">
  <span class="mkdf-social-icon-widget social_pinterest"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0 18px 0 -5px;" href="https://dribbble.com/QodeThemes" target="_blank">
  <span class="mkdf-social-icon-widget social_dribbble"></span> </a>
  </div> </div>
  </div>
  </div>
  </div> </footer>