<header class="mkdf-page-header">
  <div class="mkdf-menu-area mkdf-menu-left">
  <div class="mkdf-vertical-align-containers">
  <div class="mkdf-position-left"><div class="mkdf-position-left-inner">
  <div class="mkdf-logo-wrapper mkdf-text-logo">
  <a itemprop="url" href="index.html">
  <span class="mkdf-text-logo-left-wrap">
  <span class="mkdf-text-logo-left">
    
    <img style="width:50px" class="logo-static" src="./wp-content/uploads/2019/03/footer-logo.png" alt="Greentechinteriors">
  
  <!-- DØR -->
  
  </span>
  </span>
  </a>
  </div>
  <nav class="mkdf-main-menu mkdf-drop-down mkdf-default-nav">
  <ul id="menu-main-menu" class="clearfix">
    <li id="nav-menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkdf-active-item has_sub narrow"><a href="/" class=" current "><span class="item_outer"><span class="item_text">Home</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  <div class="second"><div class="inner">
    <!-- <ul>
  <li id="nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item "><a href="index.html" class=""><span class="item_outer"><span class="item_text">Main Home</span></span></a></li>
  <li id="nav-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="architecture-studio/index.html" class=""><span class="item_outer"><span class="item_text">Architecture Studio</span></span></a></li>
  <li id="nav-menu-item-2030" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="project-columns-scroll/index.html" class=""><span class="item_outer"><span class="item_text">Project Columns Scroll</span></span></a></li>
  <li id="nav-menu-item-1377" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="interior-design-agency/index.html" class=""><span class="item_outer"><span class="item_text">Interior Design Agency</span></span></a></li>
  <li id="nav-menu-item-1945" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="split-slider-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Split Slider Showcase</span></span></a></li>
  <li id="nav-menu-item-3806" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="parallax-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Parallax Showcase</span></span></a></li>
  <li id="nav-menu-item-2452" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="floating-portfolio/index.html" class=""><span class="item_outer"><span class="item_text">Floating Portfolio</span></span></a></li>
  <li id="nav-menu-item-2029" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-categories/index.html" class=""><span class="item_outer"><span class="item_text">Portfolio Categories</span></span></a></li>
  <li id="nav-menu-item-1648" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="real-estate-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Real Estate Showcase</span></span></a></li>
  <li id="nav-menu-item-2165" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="thumbnail-slider/index.html" class=""><span class="item_outer"><span class="item_text">Thumbnail Slider</span></span></a></li>
  <li id="nav-menu-item-2520" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-tabs-slider/index.html" class=""><span class="item_outer"><span class="item_text">Portfolio Tabs Slider</span></span></a></li>
  <li id="nav-menu-item-1893" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="furniture-store/index.html" class=""><span class="item_outer"><span class="item_text">Furniture Store</span></span></a></li>
  <li id="nav-menu-item-3060" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="landing/index.html" class=""><span class="item_outer"><span class="item_text">Landing</span></span></a></li>
  </ul> -->
  </div></div>
  </li>

  <li id="nav-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/about" class=""><span class="item_outer"><span class="item_text">About</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>

  <li id="mobile-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/howwework" class=" mkdf-mobile-no-link"><span>How We Work</span></a>
  </li>


  <li id="nav-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide"><a href="" class=""><span class="item_outer"><span class="item_text">Gallery</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
    <div class="second"><div class="inner">
      <ul>
    <li id="nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/projects" class=""><span class="item_outer"><span class="item_text">Interior Gallery</span></span></a></li>
    <li id="nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/videos" class=""><span class="item_outer"><span class="item_text">Videos Gallery</span></span></a></li>
    <li id="nav-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/construction" class=""><span class="item_outer"><span class="item_text">Construction Gallery</span></span></a></li>
   </ul>
    </div></div>
  </li>


  <li id="nav-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/#servicess" class=""><span class="item_outer"><span class="item_text">Services</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
 
  </li>
  <li id="nav-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/blog" class=""><span class="item_outer"><span class="item_text">Blogs</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
 
  </li>

  
  <li id="nav-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/contact" class=""><span class="item_outer"><span class="item_text">Contact</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>


  </ul> </nav>
  </div>
  </div>



  <div class="mkdf-position-right"><div class="mkdf-position-right-inner">
  <div class="widget mkdf-social-icons-group-widget text-align-left"> <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://www.facebook.com/qode.themes.9?ref=bookmarks" target="_blank">
  <span class="mkdf-social-icon-widget social_facebook"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://www.pinterest.com/qodethemes/" target="_blank">
  <span class="mkdf-social-icon-widget social_pinterest"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://dribbble.com/QodeThemes" target="_blank">
  <span class="mkdf-social-icon-widget social_dribbble"></span> </a>
  </div> </div>
  </div>



  </div>
  </div>
  <div class="mkdf-sticky-header">
  <div class="mkdf-sticky-holder mkdf-menu-left">
  <div class="mkdf-vertical-align-containers">
  <div class="mkdf-position-left"><div class="mkdf-position-left-inner">
  <div class="mkdf-logo-wrapper mkdf-text-logo">
  <a itemprop="url" href="index.html">
  <span class="mkdf-text-logo-left-wrap">
  <span class="mkdf-text-logo-left">
    <img style="width:50px" class="logo-static" src="./wp-content/uploads/2019/03/footer-logo.png" alt="Greentechinteriors">
  <!-- DØR  -->
  </span>
  </span>
  </a>
  </div>
  <nav class="mkdf-main-menu mkdf-drop-down mkdf-sticky-nav">
  <ul id="menu-main-menu-1" class="clearfix"><li id="sticky-nav-menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkdf-active-item has_sub narrow"><a href="/" class=" current "><span class="item_outer"><span class="item_text">Home</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  <div class="second"><div class="inner">
    
    <!-- <ul>
  <li id="sticky-nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item "><a href="index.html" class=""><span class="item_outer"><span class="item_text">Main Home</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="architecture-studio/index.html" class=""><span class="item_outer"><span class="item_text">Architecture Studio</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-2030" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="project-columns-scroll/index.html" class=""><span class="item_outer"><span class="item_text">Project Columns Scroll</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-1377" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="interior-design-agency/index.html" class=""><span class="item_outer"><span class="item_text">Interior Design Agency</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-1945" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="split-slider-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Split Slider Showcase</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-3806" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="parallax-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Parallax Showcase</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-2452" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="floating-portfolio/index.html" class=""><span class="item_outer"><span class="item_text">Floating Portfolio</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-2029" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-categories/index.html" class=""><span class="item_outer"><span class="item_text">Portfolio Categories</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-1648" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="real-estate-showcase/index.html" class=""><span class="item_outer"><span class="item_text">Real Estate Showcase</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-2165" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="thumbnail-slider/index.html" class=""><span class="item_outer"><span class="item_text">Thumbnail Slider</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-2520" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-tabs-slider/index.html" class=""><span class="item_outer"><span class="item_text">Portfolio Tabs Slider</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-1893" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="furniture-store/index.html" class=""><span class="item_outer"><span class="item_text">Furniture Store</span><span class="plus"></span></span></a></li>
  <li id="sticky-nav-menu-item-3060" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="landing/index.html" class=""><span class="item_outer"><span class="item_text">Landing</span><span class="plus"></span></span></a></li>
  </ul> -->
  
  </div></div>
  </li>
  <li id="sticky-nav-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/about" class=""><span class="item_outer"><span class="item_text">About</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>

  <li id="mobile-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/howwework" class=" mkdf-mobile-no-link"><span>How We Work</span></a>
  </li>

  <li id="nav-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide"><a href="" class=""><span class="item_outer"><span class="item_text">Gallery</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
    <div class="second"><div class="inner">
      <ul>
    <li id="nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/projects" class=""><span class="item_outer"><span class="item_text">Interior Gallery</span></span></a></li>
    <li id="nav-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/construction" class=""><span class="item_outer"><span class="item_text">Construction Gallery</span></span></a></li>
   </ul>
    </div></div>
  </li>

  <li id="sticky-nav-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/#servicess" class=""><span class="item_outer"><span class="item_text">Services</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>
  <li id="sticky-nav-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/blog" class=""><span class="item_outer"><span class="item_text">Blogs</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>

  <li id="sticky-nav-menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/contact" class=""><span class="item_outer"><span class="item_text">Contact</span><span class="plus"></span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
  </li>

  </ul></nav>
  </div>
  </div>
  <div class="mkdf-position-right"><div class="mkdf-position-right-inner">
  <div class="widget mkdf-social-icons-group-widget text-align-left"> <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://www.facebook.com/qode.themes.9?ref=bookmarks" target="_blank">
  <span class="mkdf-social-icon-widget social_facebook"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://www.pinterest.com/qodethemes/" target="_blank">
  <span class="mkdf-social-icon-widget social_pinterest"></span> </a>
  <a class="mkdf-social-icon-widget-holder mkdf-icon-has-hover" style="margin: 0px 0px 0px 32px;" href="https://dribbble.com/QodeThemes" target="_blank">
  <span class="mkdf-social-icon-widget social_dribbble"></span> </a>
  </div> </div>
  </div>
  </div>
  </div>
  </div>
  </header>
  
  
  <header class="mkdf-mobile-header">
  <div class="mkdf-mobile-header-inner">
  <div class="mkdf-mobile-header-holder">
  <div class="mkdf-grid">
  <div class="mkdf-vertical-align-containers">
  <div class="mkdf-vertical-align-containers">
  <div class="mkdf-position-left"><div class="mkdf-position-left-inner">
  <div class="mkdf-mobile-logo-wrapper mkdf-text-logo">
  <a itemprop="url" href="index.html">
  <span class="mkdf-text-logo-left">
  <!-- DØR  -->
  <img style="width:50px" class="logo-static" src="./wp-content/uploads/2019/03/footer-logo.png" alt="Greentechinteriors">
  
  </span>
  </a>
  </div>
  </div>
  </div>
  <div class="mkdf-position-right"><div class="mkdf-position-right-inner">
  <div class="mkdf-mobile-menu-opener mkdf-mobile-menu-opener-predefined">
  <a href="javascript:void(0)">
  <span class="mkdf-mobile-menu-icon">
  <span class="mkdf-hm-lines"><span class="mkdf-hm-line mkdf-line-1"></span><span class="mkdf-hm-line mkdf-line-2"></span><span class="mkdf-hm-line mkdf-line-3"></span></span> </span>
  </a>
   </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <nav class="mkdf-mobile-nav" aria-label="Mobile Menu">
  <div class="mkdf-grid">
  <ul id="menu-main-menu-2" class=""><li id="mobile-menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkdf-active-item has_sub"><a href="/" class=" current  mkdf-mobile-no-link"><span>Home</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow ion-ios-arrow-right"></i></span>
  <!-- <ul class="sub_menu">
  <li id="mobile-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item "><a href="index.html" class=""><span>Main Home</span></a></li>
  <li id="mobile-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="architecture-studio/index.html" class=""><span>Architecture Studio</span></a></li>
  <li id="mobile-menu-item-2030" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="project-columns-scroll/index.html" class=""><span>Project Columns Scroll</span></a></li>
  <li id="mobile-menu-item-1377" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="interior-design-agency/index.html" class=""><span>Interior Design Agency</span></a></li>
  <li id="mobile-menu-item-1945" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="split-slider-showcase/index.html" class=""><span>Split Slider Showcase</span></a></li>
  <li id="mobile-menu-item-3806" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="parallax-showcase/index.html" class=""><span>Parallax Showcase</span></a></li>
  <li id="mobile-menu-item-2452" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="floating-portfolio/index.html" class=""><span>Floating Portfolio</span></a></li>
  <li id="mobile-menu-item-2029" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-categories/index.html" class=""><span>Portfolio Categories</span></a></li>
  <li id="mobile-menu-item-1648" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="real-estate-showcase/index.html" class=""><span>Real Estate Showcase</span></a></li>
  <li id="mobile-menu-item-2165" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="thumbnail-slider/index.html" class=""><span>Thumbnail Slider</span></a></li>
  <li id="mobile-menu-item-2520" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="portfolio-tabs-slider/index.html" class=""><span>Portfolio Tabs Slider</span></a></li>
  <li id="mobile-menu-item-1893" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="furniture-store/index.html" class=""><span>Furniture Store</span></a></li>
  <li id="mobile-menu-item-3060" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="landing/index.html" class=""><span>Landing</span></a></li>
  </ul> -->
  </li>

  <li id="mobile-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/about" class=" mkdf-mobile-no-link"><span>About</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow ion-ios-arrow-right"></i></span>
  </li>

  <li id="mobile-menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/howwework" class=" mkdf-mobile-no-link"><span>How We Work</span></a>
  </li>

  <li id="nav-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide"><a href="" class=""><span class="item_outer"><span class="item_text">Gallery</span><i class="mkdf-menu-arrow fa fa-angle-down"></i></span></a>
    <div class="second"><div class="inner">
      <ul>
    <li id="nav-menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/projects" class=""><span class="item_outer"><span class="item_text">Interior Gallery</span></span></a></li>
    <li id="nav-menu-item-1202" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/construction" class=""><span class="item_outer"><span class="item_text">Construction Gallery</span></span></a></li>
   </ul>
    </div></div>
  </li>

  <li id="mobile-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/#servicess" class=" mkdf-mobile-no-link"><span>Services</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow ion-ios-arrow-right"></i></span>
 
  </li>
  <li id="mobile-menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/blog" class=" mkdf-mobile-no-link"><span>Blogs</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow ion-ios-arrow-right"></i></span>
 
  </li>

  <li id="mobile-menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/contact" class=" mkdf-mobile-no-link"><span>Contact</span></a><span class="mobile_arrow"><i class="mkdf-sub-arrow ion-ios-arrow-right"></i></span>

  </li>

  </ul> </div>
  </nav>
  </div>
  </header>